# Ejemplo de Estimación por Datos Panel

Referencia: Vella and M. Verbeek (1998), “Whose Wages Do Unions Raise? A Dynamic Model of Unionism and Wage Rate Determination for Young Men,” Journal of Applied Econometrics 13, 163-183.

## 1. Dependencias

In [1]:
!pip install linearmodels==4.24
!pip install linearmodels==4.5
!pip install linearmodels

Requirement already satisfied: linearmodels==4.24 in /usr/local/lib/python3.11/dist-packages (4.24)
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (2.2.2)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.15.2)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (0.14.4)
Requirement already satisfied: patsy in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.0.1)
Requirement already satisfied: property_cached>=1.6.3 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.6.4)
Requirement already satisfied: mypy_extensions>=0.4 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.1.0)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (3.0.12)
Requirement already satisfied: pyhdfe>=0.1 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (0.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->linearmodels==4.24) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->linearmodels==4.24) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->linearmodels==4.24) (2025.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.11->linearmodels==4.24) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24->linearmodels==4.24) (1.17.0)
Collecting linearmodels==4.5
  Using cached linearmodels-4.5-py2.py3-none-any.whl.metadata (5.8 kB)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.5) (1.25.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.5) (2.2.2)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.5) (1.15.2)
Requirement already satisfied: patsy in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.5) (1.0.1)
Requirement already satisfied: statsmodels>=0.8 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.5) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.19->linearmodels==4.5) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.19->linearmodels==4.5) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.19->linearmodels==4.5) (2025.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.8->linearmodels==4.5) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.19->linearmodels==4.5) (1.17.0)
Using cached linearmodels-4.5-py2.py3-none-any.whl (907 kB)
Installing collected packages: linearmodels
  Attempting uninstall: linearmodels
    Found existing installation: linearmodels 4.24
    Uninstalling linearmodels-4.24:
      Successfully uninstalled linearmodels-4.24
Successfully installed linearmodels-4.5
Requirement already satisfied: linearmodels in /usr/local/lib/python3.11/dist-packages (4.5)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (1.25.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (2.2.2)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (1.15.2)
Requirement already satisfied: patsy in /usr/local/lib/python3.11/dist-packages (from linearmodels) (1.0.1)
Requirement already satisfied: statsmodels>=0.8 in /usr/local/lib/python3.11/dist-packages (from linearmodels) (0.14.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.19->linearmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.19->linearmodels) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.19->linearmodels) (2025.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.8->linearmodels) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.19->linearmodels) (1.17.0)

In [2]:
!pip install numpy==1.25.2
!pip install linearmodels==4.24

Requirement already satisfied: numpy==1.25.2 in /usr/local/lib/python3.11/dist-packages (1.25.2)
Collecting linearmodels==4.24
  Using cached linearmodels-4.24-cp311-cp311-linux_x86_64.whl
Requirement already satisfied: numpy>=1.16 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.25.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (2.2.2)
Requirement already satisfied: scipy>=1.2 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.15.2)
Requirement already satisfied: statsmodels>=0.11 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (0.14.4)
Requirement already satisfied: patsy in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.0.1)
Requirement already satisfied: property_cached>=1.6.3 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.6.4)
Requirement already satisfied: mypy_extensions>=0.4 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.1.0)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (3.0.12)
Requirement already satisfied: pyhdfe>=0.1 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (0.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->linearmodels==4.24) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->linearmodels==4.24) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->linearmodels==4.24) (2025.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels>=0.11->linearmodels==4.24) (24.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.24->linearmodels==4.24) (1.17.0)
Installing collected packages: linearmodels
  Attempting uninstall: linearmodels
    Found existing installation: linearmodels 4.5
    Uninstalling linearmodels-4.5:
      Successfully uninstalled linearmodels-4.5
Successfully installed linearmodels-4.24

In [3]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.iolib.summary2 import summary_col
from linearmodels.panel.model import PooledOLS, PanelOLS
from linearmodels.panel import RandomEffects
from linearmodels.panel import compare # Para comparar modelos

#
import warnings
warnings.filterwarnings('ignore')

## 2. Importación de datos

In [5]:
# Importamos el Data Set
data_to_load = 'wage_panel.csv'

# Read the and
wage_df = pd.read_csv(data_to_load)
wage_df.head()

,nr,year,black,exper,hisp,hours,married,educ,union,lwage,expersq,occupation
0,13,1980,0,1,0,2672,0,14,0,1.197540,1,9
1,13,1981,0,2,0,2320,0,14,1,1.853060,4,9
2,13,1982,0,3,0,2940,0,14,0,1.344462,9,9
3,13,1983,0,4,0,2960,0,14,0,1.433213,16,9
4,13,1984,0,5,0,3071,0,14,0,1.568125,25,5

### Los datos importados son:
* nr: person identifier
* year: 1980 to 1987
* black: =1 if black
* exper: labor market experience
* hisp: =1 if Hispanic
* hours: annual hours worked
* married: =1 if married
* educ: years of schooling
* union: =1 if in union
* lwage: log(wage)
* expersq: exper^2
* occupation: Occupation code

In [6]:
# Adecuaciones al índice para hacerlo Panel:
year = wage_df.year
wage_df = wage_df.set_index(['nr', 'year'])
wage_df#.head()

            black  exper  hisp  hours  married  educ  union     lwage  \
nr    year
13    1980      0      1     0   2672        0    14      0  1.197540
      1981      0      2     0   2320        0    14      1  1.853060
      1982      0      3     0   2940        0    14      0  1.344462
      1983      0      4     0   2960        0    14      0  1.433213
      1984      0      5     0   3071        0    14      0  1.568125
...           ...    ...   ...    ...      ...   ...    ...       ...
12548 1983      0      8     0   2080        1     9      0  1.591879
      1984      0      9     0   2080        1     9      1  1.212543
      1985      0     10     0   2080        1     9      0  1.765962
      1986      0     11     0   2080        1     9      1  1.745894
      1987      0     12     0   3380        1     9      1  1.466543

            expersq  occupation
nr    year
13    1980        1           9
      1981        4           9
      1982        9           9
      1983       16           9
      1984       25           5
...             ...         ...
12548 1983       64           5
      1984       81           5
      1985      100           5
      1986      121           5
      1987      144           5

[4360 rows x 10 columns]

In [7]:
# Agregamos una columna adicional de año (opción 1):
wage_df['year'] = pd.Categorical( year )
wage_df.head()

         black  exper  hisp  hours  married  educ  union     lwage  expersq  \
nr year
13 1980      0      1     0   2672        0    14      0  1.197540        1
   1981      0      2     0   2320        0    14      1  1.853060        4
   1982      0      3     0   2940        0    14      0  1.344462        9
   1983      0      4     0   2960        0    14      0  1.433213       16
   1984      0      5     0   3071        0    14      0  1.568125       25

         occupation  year
nr year
13 1980           9  1980
   1981           9  1981
   1982           9  1982
   1983           9  1983
   1984           5  1984

In [8]:
[ wage_df , pd.get_dummies(wage_df['year']) ]

[            black  exper  hisp  hours  married  educ  union     lwage  \
 nr    year
 13    1980      0      1     0   2672        0    14      0  1.197540
       1981      0      2     0   2320        0    14      1  1.853060
       1982      0      3     0   2940        0    14      0  1.344462
       1983      0      4     0   2960        0    14      0  1.433213
       1984      0      5     0   3071        0    14      0  1.568125
 ...           ...    ...   ...    ...      ...   ...    ...       ...
 12548 1983      0      8     0   2080        1     9      0  1.591879
       1984      0      9     0   2080        1     9      1  1.212543
       1985      0     10     0   2080        1     9      0  1.765962
       1986      0     11     0   2080        1     9      1  1.745894
       1987      0     12     0   3380        1     9      1  1.466543

             expersq  occupation  year
 nr    year
 13    1980        1           9  1980
       1981        4           9  1981
       1982        9           9  1982
       1983       16           9  1983
       1984       25           5  1984
 ...             ...         ...   ...
 12548 1983       64           5  1983
       1984       81           5  1984
       1985      100           5  1985
       1986      121           5  1986
       1987      144           5  1987

 [4360 rows x 11 columns],
              1980   1981   1982   1983   1984   1985   1986   1987
 nr    year
 13    1980   True  False  False  False  False  False  False  False
       1981  False   True  False  False  False  False  False  False
       1982  False  False   True  False  False  False  False  False
       1983  False  False  False   True  False  False  False  False
       1984  False  False  False  False   True  False  False  False
 ...           ...    ...    ...    ...    ...    ...    ...    ...
 12548 1983  False  False  False   True  False  False  False  False
       1984  False  False  False  False   True  False  False  False
       1985  False  False  False  False  False   True  False  False
       1986  False  False  False  False  False  False   True  False
       1987  False  False  False  False  False  False  False   True

 [4360 rows x 8 columns]]

In [9]:
# Agregamos columnas de dummies de Year (opción 2):
wage_df = pd.concat( [ wage_df , pd.get_dummies(wage_df['year']) ], axis=1)

In [10]:
# Show data:
wage_df

            black  exper  hisp  hours  married  educ  union     lwage  \
nr    year
13    1980      0      1     0   2672        0    14      0  1.197540
      1981      0      2     0   2320        0    14      1  1.853060
      1982      0      3     0   2940        0    14      0  1.344462
      1983      0      4     0   2960        0    14      0  1.433213
      1984      0      5     0   3071        0    14      0  1.568125
...           ...    ...   ...    ...      ...   ...    ...       ...
12548 1983      0      8     0   2080        1     9      0  1.591879
      1984      0      9     0   2080        1     9      1  1.212543
      1985      0     10     0   2080        1     9      0  1.765962
      1986      0     11     0   2080        1     9      1  1.745894
      1987      0     12     0   3380        1     9      1  1.466543

            expersq  occupation  year   1980   1981   1982   1983   1984  \
nr    year
13    1980        1           9  1980   True  False  False  False  False
      1981        4           9  1981  False   True  False  False  False
      1982        9           9  1982  False  False   True  False  False
      1983       16           9  1983  False  False  False   True  False
      1984       25           5  1984  False  False  False  False   True
...             ...         ...   ...    ...    ...    ...    ...    ...
12548 1983       64           5  1983  False  False  False   True  False
      1984       81           5  1984  False  False  False  False   True
      1985      100           5  1985  False  False  False  False  False
      1986      121           5  1986  False  False  False  False  False
      1987      144           5  1987  False  False  False  False  False

             1985   1986   1987
nr    year
13    1980  False  False  False
      1981  False  False  False
      1982  False  False  False
      1983  False  False  False
      1984  False  False  False
...           ...    ...    ...
12548 1983  False  False  False
      1984  False  False  False
      1985   True  False  False
      1986  False   True  False
      1987  False  False   True

[4360 rows x 19 columns]

## 3. Regresión Pooled

In [11]:
# Definición de variables exógeneas y endógena
X = [ 'black','hisp','exper','expersq','married', 'educ', 'union', 'year', 'hours' ]
X = sm.add_constant( wage_df[X] )
X

            const  black  hisp  exper  expersq  married  educ  union  year  \
nr    year
13    1980    1.0      0     0      1        1        0    14      0  1980
      1981    1.0      0     0      2        4        0    14      1  1981
      1982    1.0      0     0      3        9        0    14      0  1982
      1983    1.0      0     0      4       16        0    14      0  1983
      1984    1.0      0     0      5       25        0    14      0  1984
...           ...    ...   ...    ...      ...      ...   ...    ...   ...
12548 1983    1.0      0     0      8       64        1     9      0  1983
      1984    1.0      0     0      9       81        1     9      1  1984
      1985    1.0      0     0     10      100        1     9      0  1985
      1986    1.0      0     0     11      121        1     9      1  1986
      1987    1.0      0     0     12      144        1     9      1  1987

            hours
nr    year
13    1980   2672
      1981   2320
      1982   2940
      1983   2960
      1984   3071
...           ...
12548 1983   2080
      1984   2080
      1985   2080
      1986   2080
      1987   3380

[4360 rows x 10 columns]

In [12]:
# Definición de variables exógeneas y endógena
X1 = [ 'black','hisp','exper','expersq','married', 'educ', 'union', 1981, 1982,
       1983, 1984, 1985, 1986, 1987, 'hours' ]
X1 = sm.add_constant( wage_df[X1] )
X1

            const  black  hisp  exper  expersq  married  educ  union   1981  \
nr    year
13    1980    1.0      0     0      1        1        0    14      0  False
      1981    1.0      0     0      2        4        0    14      1   True
      1982    1.0      0     0      3        9        0    14      0  False
      1983    1.0      0     0      4       16        0    14      0  False
      1984    1.0      0     0      5       25        0    14      0  False
...           ...    ...   ...    ...      ...      ...   ...    ...    ...
12548 1983    1.0      0     0      8       64        1     9      0  False
      1984    1.0      0     0      9       81        1     9      1  False
      1985    1.0      0     0     10      100        1     9      0  False
      1986    1.0      0     0     11      121        1     9      1  False
      1987    1.0      0     0     12      144        1     9      1  False

             1982   1983   1984   1985   1986   1987  hours
nr    year
13    1980  False  False  False  False  False  False   2672
      1981  False  False  False  False  False  False   2320
      1982   True  False  False  False  False  False   2940
      1983  False   True  False  False  False  False   2960
      1984  False  False   True  False  False  False   3071
...           ...    ...    ...    ...    ...    ...    ...
12548 1983  False   True  False  False  False  False   2080
      1984  False  False   True  False  False  False   2080
      1985  False  False  False   True  False  False   2080
      1986  False  False  False  False   True  False   2080
      1987  False  False  False  False  False   True   3380

[4360 rows x 16 columns]

In [13]:
#
Y = wage_df[ 'lwage' ]
Y

nr     year
13     1980    1.197540
       1981    1.853060
       1982    1.344462
       1983    1.433213
       1984    1.568125
                 ...
12548  1983    1.591879
       1984    1.212543
       1985    1.765962
       1986    1.745894
       1987    1.466543
Name: lwage, Length: 4360, dtype: float64

In [14]:
# Regresión
model_1 = PooledOLS(Y, X1)
pooled_res_1 = model_1.fit()
print(pooled_res_1)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1952
Estimator:                  PooledOLS   R-squared (Between):              0.2034
No. Observations:                4360   R-squared (Within):               0.1856
Date:                Thu, May 08 2025   R-squared (Overall):              0.1952
Time:                        00:22:41   Log-likelihood                   -2966.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      70.221
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(15,4344)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             70.221
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(15,4344)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.2073     0.0806     2.5714     0.0102      0.0493      0.3654
black         -0.1379     0.0235    -5.8674     0.0000     -0.1839     -0.0918
hisp           0.0210     0.0207     1.0135     0.3109     -0.0196      0.0617
exper          0.0753     0.0137     5.4888     0.0000      0.0484      0.1022
expersq       -0.0029     0.0008    -3.4778     0.0005     -0.0045     -0.0012
married        0.1203     0.0158     7.6219     0.0000      0.0893      0.1512
educ           0.0923     0.0052     17.678     0.0000      0.0821      0.1025
union          0.1760     0.0171     10.269     0.0000      0.1424      0.2096
1981           0.0604     0.0302     1.9978     0.0458      0.0011      0.1197
1982           0.0635     0.0331     1.9187     0.0551     -0.0014      0.1284
1983           0.0661     0.0365     1.8080     0.0707     -0.0056      0.1377
1984           0.0956     0.0400     2.3922     0.0168      0.0173      0.1739
1985           0.1138     0.0432     2.6328     0.0085      0.0290      0.1985
1986           0.1477     0.0463     3.1921     0.0014      0.0570      0.2384
1987           0.1832     0.0493     3.7160     0.0002      0.0865      0.2798
hours       -7.55e-05   1.34e-05    -5.6326     0.0000     -0.0001  -4.922e-05
==============================================================================

In [15]:
# Regresión
model = PooledOLS(Y, X)
pooled_res = model.fit()
print(pooled_res)

                          PooledOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1952
Estimator:                  PooledOLS   R-squared (Between):              0.2034
No. Observations:                4360   R-squared (Within):               0.1856
Date:                Thu, May 08 2025   R-squared (Overall):              0.1952
Time:                        00:22:45   Log-likelihood                   -2966.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      70.221
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(15,4344)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             70.221
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(15,4344)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.2073     0.0806     2.5714     0.0102      0.0493      0.3654
black         -0.1379     0.0235    -5.8674     0.0000     -0.1839     -0.0918
hisp           0.0210     0.0207     1.0135     0.3109     -0.0196      0.0617
exper          0.0753     0.0137     5.4888     0.0000      0.0484      0.1022
expersq       -0.0029     0.0008    -3.4778     0.0005     -0.0045     -0.0012
married        0.1203     0.0158     7.6219     0.0000      0.0893      0.1512
educ           0.0923     0.0052     17.678     0.0000      0.0821      0.1025
union          0.1760     0.0171     10.269     0.0000      0.1424      0.2096
year.1981      0.0604     0.0302     1.9978     0.0458      0.0011      0.1197
year.1982      0.0635     0.0331     1.9187     0.0551     -0.0014      0.1284
year.1983      0.0661     0.0365     1.8080     0.0707     -0.0056      0.1377
year.1984      0.0956     0.0400     2.3922     0.0168      0.0173      0.1739
year.1985      0.1138     0.0432     2.6328     0.0085      0.0290      0.1985
year.1986      0.1477     0.0463     3.1921     0.0014      0.0570      0.2384
year.1987      0.1832     0.0493     3.7160     0.0002      0.0865      0.2798
hours       -7.55e-05   1.34e-05    -5.6326     0.0000     -0.0001  -4.922e-05
==============================================================================

## 4. Efectos aleatorios

In [16]:
# Regresión
model = RandomEffects(Y, X)
re_res = model.fit()
print(re_res)

                        RandomEffects Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1976
Estimator:              RandomEffects   R-squared (Between):              0.1716
No. Observations:                4360   R-squared (Within):               0.2013
Date:                Thu, May 08 2025   R-squared (Overall):              0.1854
Time:                        00:22:59   Log-likelihood                   -1569.1
Cov. Estimator:            Unadjusted
                                        F-statistic:                      71.315
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(15,4344)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             71.315
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(15,4344)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          0.1989     0.1528     1.3022     0.1929     -0.1006      0.4985
black         -0.1408     0.0481    -2.9306     0.0034     -0.2350     -0.0466
hisp           0.0296     0.0429     0.6902     0.4901     -0.0545      0.1138
exper          0.1227     0.0154     7.9474     0.0000      0.0924      0.1529
expersq       -0.0056     0.0007    -8.2043     0.0000     -0.0070     -0.0043
married        0.0691     0.0166     4.1579     0.0000      0.0365      0.1017
educ           0.0937     0.0107     8.7315     0.0000      0.0727      0.1148
union          0.0978     0.0177     5.5248     0.0000      0.0631      0.1324
year.1981      0.0429     0.0245     1.7519     0.0799     -0.0051      0.0909
year.1982      0.0301     0.0322     0.9323     0.3512     -0.0331      0.0933
year.1983      0.0244     0.0416     0.5877     0.5567     -0.0571      0.1060
year.1984      0.0485     0.0514     0.9437     0.3454     -0.0523      0.1494
year.1985      0.0621     0.0615     1.0097     0.3127     -0.0584      0.1825
year.1986      0.0983     0.0716     1.3735     0.1697     -0.0420      0.2386
year.1987      0.1475     0.0818     1.8037     0.0714     -0.0128      0.3078
hours         -0.0001  1.269e-05    -9.5935     0.0000     -0.0001  -9.688e-05
==============================================================================

In [17]:
# Descomposición de varianza
re_res.variance_decomposition

Effects                   0.107522
Residual                  0.120095
Percent due to Effects    0.472383
Name: Variance Decomposition, dtype: float64

## 5. Efectos fijos

In [20]:
# Regresion con efectos fijos por entidad
# Omitimos: 'exper', 'black','hisp', 'educ', 'year' , 'const' # We should remove constant as well
X = [ 'expersq', 'union', 'married', 'hours' ]
X = sm.add_constant(wage_df[X]) # Remove this line as it adds the constant, which will likely get absorbed
# X = wage_df[X] # Use this line without a constant. sm.add_constant is called within the PanelOLS model if needed.
model = PanelOLS(Y, X, entity_effects = True)
fe_res = model.fit()
print(fe_res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.1454
Estimator:                   PanelOLS   R-squared (Between):             -0.0844
No. Observations:                4360   R-squared (Within):               0.1454
Date:                Thu, May 08 2025   R-squared (Overall):              0.0219
Time:                        00:23:44   Log-likelihood                   -1416.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      162.14
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                  F(4,3811)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             162.14
                                        P-value                           0.0000
Time periods:                       8   Distribution:                  F(4,3811)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          1.5658     0.0297     52.777     0.0000      1.5077      1.6240
expersq        0.0040     0.0002     20.541     0.0000      0.0036      0.0043
union          0.0784     0.0197     3.9857     0.0001      0.0399      0.1170
married        0.1147     0.0181     6.3200     0.0000      0.0791      0.1502
hours       -8.46e-05  1.341e-05    -6.3087     0.0000     -0.0001  -5.831e-05
==============================================================================

F-test for Poolability: 9.4833
P-value: 0.0000
Distribution: F(544,3811)

Included effects: Entity

In [19]:
# Regresion con efectos fijos por entidad
# Omitimos: 'exper', 'black','hisp', 'educ'
X = [ 'expersq', 'union', 'married', 'year', 'hours' ]
X = sm.add_constant(wage_df[X])
model = PanelOLS(Y, X, entity_effects = True)
fe_res = model.fit()
print(fe_res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.2022
Estimator:                   PanelOLS   R-squared (Between):             -0.0726
No. Observations:                4360   R-squared (Within):               0.2022
Date:                Thu, May 08 2025   R-squared (Overall):              0.0546
Time:                        00:23:33   Log-likelihood                   -1266.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      87.669
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                 F(11,3804)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             87.669
                                        P-value                           0.0000
Time periods:                       8   Distribution:                 F(11,3804)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          1.7047     0.0329     51.891     0.0000      1.6403      1.7691
expersq       -0.0062     0.0007    -8.8773     0.0000     -0.0076     -0.0049
union          0.0727     0.0191     3.8110     0.0001      0.0353      0.1101
married        0.0476     0.0181     2.6356     0.0084      0.0122      0.0831
year.1981      0.1735     0.0218     7.9673     0.0000      0.1308      0.2161
year.1982      0.2910     0.0244     11.933     0.0000      0.2432      0.3388
year.1983      0.4177     0.0295     14.150     0.0000      0.3598      0.4756
year.1984      0.5743     0.0367     15.650     0.0000      0.5023      0.6462
year.1985      0.7199     0.0458     15.728     0.0000      0.6301      0.8096
year.1986      0.8898     0.0567     15.687     0.0000      0.7786      1.0010
year.1987      1.0757     0.0695     15.486     0.0000      0.9396      1.2119
hours         -0.0001  1.335e-05    -10.164     0.0000     -0.0002     -0.0001
==============================================================================

F-test for Poolability: 9.5083
P-value: 0.0000
Distribution: F(544,3804)

Included effects: Entity

In [21]:
# Regresion con efectos fijos por entidad y tiempo
# Omitimos: 'exper', 'black','hisp', 'educ', 'year'
X = ['expersq', 'union', 'married', 'hours']
X = sm.add_constant(wage_df[X])
model = PanelOLS(Y, X, entity_effects = True, time_effects = True)
fe_te_res = model.fit()
print(fe_te_res)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                  lwage   R-squared:                        0.0474
Estimator:                   PanelOLS   R-squared (Between):             -0.0726
No. Observations:                4360   R-squared (Within):              -0.6951
Date:                Thu, May 08 2025   R-squared (Overall):             -0.3606
Time:                        00:23:53   Log-likelihood                   -1266.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      47.359
Entities:                         545   P-value                           0.0000
Avg Obs:                       8.0000   Distribution:                  F(4,3804)
Min Obs:                       8.0000
Max Obs:                       8.0000   F-statistic (robust):             47.359
                                        P-value                           0.0000
Time periods:                       8   Distribution:                  F(4,3804)
Avg Obs:                       545.00
Min Obs:                       545.00
Max Obs:                       545.00

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const          2.2224     0.0509     43.647     0.0000      2.1226      2.3222
expersq       -0.0062     0.0007    -8.8773     0.0000     -0.0076     -0.0049
union          0.0727     0.0191     3.8110     0.0001      0.0353      0.1101
married        0.0476     0.0181     2.6356     0.0084      0.0122      0.0831
hours         -0.0001  1.335e-05    -10.164     0.0000     -0.0002     -0.0001
==============================================================================

F-test for Poolability: 10.503
P-value: 0.0000
Distribution: F(551,3804)

Included effects: Entity, Time

## 6. Comparación de modelos

In [23]:
!pip uninstall statsmodels linearmodels --yes
!pip install statsmodels==0.13.5 linearmodels==4.24

Found existing installation: statsmodels 0.14.4
Uninstalling statsmodels-0.14.4:
  Successfully uninstalled statsmodels-0.14.4
Found existing installation: linearmodels 4.24
Uninstalling linearmodels-4.24:
  Successfully uninstalled linearmodels-4.24
Collecting statsmodels==0.13.5
  Downloading statsmodels-0.13.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (9.5 kB)
Collecting linearmodels==4.24
  Using cached linearmodels-4.24-cp311-cp311-linux_x86_64.whl
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.11/dist-packages (from statsmodels==0.13.5) (2.2.2)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.11/dist-packages (from statsmodels==0.13.5) (1.0.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels==0.13.5) (24.2)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.11/dist-packages (from statsmodels==0.13.5) (1.15.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.11/dist-packages (from statsmodels==0.13.5) (1.25.2)
Requirement already satisfied: property_cached>=1.6.3 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.6.4)
Requirement already satisfied: mypy_extensions>=0.4 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (1.1.0)
Requirement already satisfied: Cython>=0.29.21 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (3.0.12)
Requirement already satisfied: pyhdfe>=0.1 in /usr/local/lib/python3.11/dist-packages (from linearmodels==4.24) (0.2.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->statsmodels==0.13.5) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->statsmodels==0.13.5) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.25->statsmodels==0.13.5) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=0.25->statsmodels==0.13.5) (1.17.0)
Downloading statsmodels-0.13.5-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.9/9.9 MB 62.3 MB/s eta 0:00:00
Installing collected packages: statsmodels, linearmodels
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
plotnine 0.14.5 requires statsmodels>=0.14.0, but you have statsmodels 0.13.5 which is incompatible.
Successfully installed linearmodels-4.24 statsmodels-0.13.5

In [ ]:
from linearmodels.panel import compare
import pandas as pd

# This fixes the error in the compare function
def compare_patched(results, *, precision="%.4f", stars=True):
    """
    Compare the results of multiple models
    Parameters
    ----------
    results : dict[str, PanelResults]
        Dictionary containing model names and result instances.
    precision : str
        Precision to use when printing output. Has the form "%.Nf".
    stars : bool
        Indicates whether to use stars to mark the significance of parameters.
    Returns
    -------
    DataFrame
        DataFrame containing model comparison information.
    """
    if not isinstance(results, dict):
        raise TypeError("results must be a dictionary")
    vals = [v.summary.tables[1].iloc[1:] for v in results.values()]
    # This line was throwing the error so I fixed it.
    res = pd.concat(vals, axis=1, keys=results.keys())
    # ... rest of the function remains the same ...
    return res

In [22]:
#
print(compare( { 'Fix efect Ent.': fe_res,
                 'Fix Efect Ent-Time': fe_te_res,
                 'Radom efects': re_res,
                 'Pooled': pooled_res } ))

TypeError: concat() takes 1 positional argument but 2 were given

## 7. Varianza Robusta:

In [ ]:
# Rregresión
X = ['expersq', 'union', 'married', 'year', 'hours']
X = sm.add_constant(wage_df[X])
model = PanelOLS(Y, X, entity_effects = True)
#fe_res = model.fit(cov_type = 'robust')
# NOTAS: “unadjusted”, “homoskedastic” - Assume residual are homoskedastic, AND
#       “robust”, “heteroskedastic” - Control for heteroskedasticity using White’s estimator
fe_res = model.fit(cov_type = "clustered", cluster_entity = True)
# NOTAS: clust_entity_time = mod.fit(cov_type='clustered', cluster_entity=True, cluster_time=True)

print(fe_res)